@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <button type="button" id="btnCreateNew" class="btn btn-primary" data-toggle="modal" data-target="#bookModal">
        Create New
    </button>
</p>

@*table dùng để hiển thị danh sách*@ 
<table id="listBooks" class="table">
    <thead>
        <tr>
            <th><label>Id</label></th>
            <th><label>Name</label></th>
            <th><label>Author</label></th>
            <th><label>Price</label></th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@*modal dùng để hiển thị form Create và Update*@
<div class="modal fade" id="bookModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><label id="title"></label></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="hidden" class="form-control" id="Id" />
                            <label>Name</label>
                            <input type="text" id="Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <label>Author</label>
                            <input type="text" id="Author" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <label>Price</label>
                            <input type="text" id="Price" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

@*trong ví dụ này chúng ta sẽ viết trực tiếp các hàm xử lý Ajax ngay trong trang Index*@

@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            getBooks();
        })

        //khai báo biến kiểm tra xem nếu như là false thì sẽ gọi hàm Insert ngược lại bằng true thì gọi làm Update
        var isUpdatable = false;

        // hàm hiển thị danh sách những record
        function getBooks() {
            $.ajax({
                url: '/Book/GetBooks/',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var rows = '';
                    $.each(data, function (i, item) {
                        rows += "<tr>"
                        rows += "<td>" + item.Id + "</td>"
                        rows += "<td>" + item.Name + "</td>"
                        rows += "<td>" + item.Author + "</td>"
                        rows += "<td>" + item.Price + "</td>"
                        rows += "<td><button type='button' id='btnEdit' class='btn btn-default' onclick='return getDetailBook(" + item.Id + ")'>Edit</button> <button type='button' id='btnDelete' class='btn btn-danger' onclick='return deleteBook(" + item.Id + ")'>Delete</button></td>"
                        rows += "</tr>";
                        $("#listBooks tbody").html(rows);
                    });
                },
                error: function (err) {
                    alert("Error: " + err.responseText);
                }
            });
        }

        // hàm lấy chi tiết một record dựa trên id
        function getDetailBook(id) {
            $("#title").text("Details");
            $.ajax({
                url: '/Book/Get/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $("#Id").val(data.Id);
                    $("#Name").val(data.Name);
                    $("#Author").val(data.Author);
                    $("#Price").val(data.Price);
                    isUpdatable = true;
                    $("#bookModal").modal('show');
                },
                error: function (err) {
                    alert("Error: " + err.responseText);
                }
            });
        }

        // hàm Insert và Update một record
        $("#btnSave").click(function (e) {
            e.preventDefault();

            var dataCreate = {
                Name: $("#Name").val(),
                Author: $("#Author").val(),
                Price: $("#Price").val()
            }

            var dataUpdate = {
                Id: $("#Id").val(),
                Name: $("#Name").val(),
                Author: $("#Author").val(),
                Price: $("#Price").val()
            }

            if (!isUpdatable) {
                $.ajax({
                    url: '/Book/Create/',
                    type: 'POST',
                    dataType: 'json',
                    data: dataUpdate,
                    success: function (data) {
                        getBooks();
                        $("#bookModal").modal('hide');
                        clear();
                    },
                    error: function (err) {
                        alert("Error: " + err.responseText);
                    }
                })
            }
            else {
                $.ajax({
                    url: '/Book/Update/',
                    type: 'POST',
                    dataType: 'json',
                    data: dataUpdate,
                    success: function (data) {
                        getBooks();
                        isUpdatable = false;
                        $("#bookModal").modal('hide');
                        clear();
                    },
                    error: function (err) {
                        alert("Error: " + err.responseText);
                    }
                })
            }
        });

        // ham delete book
        function deleteBook(id) {
            var confirmDelete = confirm("Do you want to delete this book ?");
            if (confirmDelete) {
                $.ajax({
                    url: "/Book/Delete/" + id,
                    type: "POST",
                    dataType: 'json',
                    success: function (data) {
                        getBooks();
                    },
                    error: function (err) {
                        alert("Error: " + err.responseText);
                    }
                });
            }
        }

        $("#btnCreateNew").click(function () {
            $("#title").text("Create New");
        })

        // hàm đóng modal
        $("#btnClose").click(function () {
            clear();
        });

        // hàm reset giá trị về rỗng sau khi thực hiện Insert hoặc Update
        function clear() {
            $("#Id").val("");
            $("#Name").val("");
            $("#Author").val("");
            $("#Price").val("");
        }

    </script>
}



