USE [master]
GO
/****** Object:  Database [BookAjax]    Script Date: 11/9/2015 1:01:38 AM ******/
CREATE DATABASE [BookAjax] ON  PRIMARY 
( NAME = N'BookAjax', FILENAME = N'C:\Users\Khiem\BookAjax.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BookAjax_log', FILENAME = N'C:\Users\Khiem\BookAjax_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookAjax].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookAjax]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 11/9/2015 1:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Author] [nvarchar](50) NULL,
	[Price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
